* {
  box-sizing: border-box;
}
body {
  background-color: rgb(37, 36, 36);
  color: antiquewhite;
  margin: 0;
  font-family: sans-serif;
}
.form h2,
h1 {
  text-align: center;
}
.App {
  margin: 0 5em;
}
.form h5 {
  padding: 0;
}
.red {
  border: 3px dashed tomato;
  margin-top: 1rem;
  padding: 1rem;
}
.orange {
  border: 3px dashed orange;
  margin-top: 1rem;
  padding: 1rem;
}
.purple {
  border: 3px dashed purple;
  margin-top: 1rem;
}
.blue {
  border: 3px dashed blue;
  margin-top: 1rem;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input {
  background-color: antiquewhite;
  color: black;
  margin: 20px;
  padding: 8px;
}
.form textarea {
  background-color: antiquewhite;
  color: black;
  margin: 20px;
  padding: 15px;
}

/* message */
.done {
  background-color: rgb(46, 214, 68);
  margin: 5px;
  padding: 15px;
}
.error {
  background-color: tomato;

  margin: 5px;
  padding: 15px;
}
.navigation {
  background-color: rebeccapurple;
  display: flex;
  padding: 1rem;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 0 0.4rem;
  justify-content: start;
  margin-top: 0.9rem;
}
.navigation .auth-button {
  margin-left: auto;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  color: #fff;
  margin-top: 0;
}
.purple.form label,
.blue.form label {
  text-align: left;
  padding-left: 1rem;
}
.purple.form {
  padding: 1rem;
}
.purple.form button,
.red.form button,
.orange.form button,
.blue.form button {
  background-color: green;
  padding: 0.8rem 3rem;
  border-radius: 15px;
  border: none;
  width: 30%;
  margin: auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.purple.form button:hover,
.red.form button:hover,
.orange.form button:hover,
.blue.form button:hover {
  background-color: darkgreen;
}
.article-card {
  background-color: #ccc;
  color: #343a40;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  border-radius: 15px;
}
.article-card .form input {
  border-radius: 15px;
  border: none;
  width: 98%;
  height: 25px;
  margin: 0;
}
.add-button {
  color: #fff;
  font-size: 14px;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: green;
  cursor: pointer;
  border: none;
}
.update-button {
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  float: right;
}
.delete-button {
  color: #fff;
  font-size: 14px;
  padding: 0.5rem 0.5rem;
  border-radius: 15px;
  background-color: transparent;
  cursor: pointer;
  border: none;
  float: right;
}
.not-found {
  margin-top: 10rem;
  color: red;
  font-weight: bold;
}
.authentication {
  background-color: #fff;
  color: #343a40;
  margin: auto;
  width: 40%;
  padding: 2rem;
  border-radius: 15px;
}
.authentication h2 {
  text-align: center;
}
.authentication form {
  padding: 1rem;
}

.authentication label {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
.authentication input {
  display: block;
  width: 100%;
  padding: 0.6rem;
}
.authentication img {
  width: 100%;
  border-radius: 15px;
}
.authentication p {
  text-align: center;
}
.authentication a {
  cursor: pointer;
  color: blue;
}
.authentication button {
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 3rem;
  font-weight: bold;
  background-color: #17a2b8;
  font-size: 15px;
}
.add-new-tweet {
  position: relative;
}
.add-new-tweet textarea {
  display: block;
  width: 100%;
  height: 4rem;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #fff;
  background-clip: padding-box;
  border: none;
  background-color: transparent;
  border-radius: 15px;
  outline: none;
  padding-top: 1rem;
}
.add-new-tweet .new-tweet-options {
  padding-right: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.add-new-tweet .add-icons svg {
  width: 3rem;
  fill: rgba(29, 161, 242, 1);
  padding: 1rem;
  padding-left: 0;
}
form {
  background-color: #161b22;
  border-radius: 15px;
  padding: 2rem;
  margin: 1rem 0;
}
form button {
  cursor: pointer;
}
button {
  cursor: pointer;
}
a p {
  cursor: pointer;
}
.add-new-tweet .tweet-upload {
  position: absolute;
  bottom: 46x;
  height: 50px;
  width: 48px;
  overflow: hidden;
  opacity: 0;
  cursor: pointer;
}
.tweet-btn button {
  background-color: rgba(29, 161, 242, 1);
  color: #fff;
  font-size: 17px;
  border-radius: 10px;
  border: none;
  padding: 0.8rem 3rem;
}

.post-section img {
  border-radius: 50%;
}
.post-section img,
.post-section h2,
.post-section h5 {
  display: inline-block;
}
.post-section img {
  vertical-align: middle;
}

.post-section h2 {
  padding: 0 1rem;
  text-align: bold;
}
.post-section h5 {
  color: #ccc;
  font-size: 13px;
  font-weight: normal;
}
.post-section h4 {
  padding-left: 5.8rem;
}
.comment {
  background-color: #373e47;
  padding: 1rem;
  border-radius: 15px;
  margin: 0.5rem;
}
.post-section .form {
  margin: 0;
}
.comment-input {
  background-color: #eee;
  border-radius: 25px;
  border: none;
}
.post-buttons {
  width: 100%;
  text-align: right;
}
.commenter-name {
  font-size: 15px !important;
  color: #fff !important;
  padding: 0 0.7rem;
}
.commenter-comment {
  padding-left: 3rem;
}
.image-post {
  width: 100%;
  border-radius: 15px !important;
}
.grid-screen {
  display: flex;

  justify-content: center;
}
.asideLeft {
  min-width: 270px;
  max-width: 270px;
  height: 100vh;
  display: flex;

  justify-content: center;
  user-select: none;
}
.asideLeftItems {
  width: 270px;
  height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
}
.asideLeftItem {
  width: max-content;
  padding: 0.8rem;
  display: flex;

  align-items: center;

  justify-content: center;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
}
.asideLeftItem p {
  margin: 0;
  padding-left: 0.5rem;
}
.post-from-me {
  display: flex;
}
.post-from-me img {
  border-radius: 50%;
}
.aside-right-items {
  background: #161b22;
  border-radius: 16px;
  padding: 1rem;
  min-width: 350px;
  max-width: 350px;
  padding: 1rem;
  margin-left: 10px;
  height: 100%;
}
.aside-right-items h2 {
  font-size: 20px;
  margin-bottom: 20px;
}
.aside-right-item {
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
}
.aside-right-item p {
  font-size: 13px;
  color: #ccc;
}
.aside-right-item h4 {
  font-size: 15px;
  margin: 5px 0px;
}
.aside-right-item p span {
  color: rgb(29, 155, 240);
}
.home-page {
  min-width: 600px;
  max-width: 600px;
  border-left: 1px solid rgba(51, 51, 51, 0.067);
  border-right: 1px solid rgba(51, 51, 51, 0.067);
}
.aside-right-items hr {
  height: 1px;
  background-color: #ccc;
  border: none;
}
.search-field {
  width: 100%;
  margin-bottom: 20px;
  position: sticky;
  top: 0px;
  background: #161b22;
}
.search-field input {
  width: 100%;
  background: #373e47;
  border: none;
  border-radius: 34px;
  padding: 0.8rem 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.userImg {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 10px;
  border-radius: 50%;
}
.userImg img {
  border-radius: 50%;
  padding: 1rem;
}
.aside-left-profile {
  position: sticky;
  top: 0px;
  background: #161b22;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(51, 51, 51, 0.067);
  z-index: 100;
}
.aside-left-profile {
  margin: 0;
}
.aside-left-profile svg {
  cursor: pointer;
}
.close-button {
  background-color: transparent;
  border: none;
}

.showMore {
  cursor: pointer;
  color: #338fff !important;
}
.showMoreButton {
  background-color: #338fff;
  width: 100%;
  display: block;
  border-radius: 15px;
  font-size: 16px;
  color: #fff;
  border: none;
  padding: 0.5rem 3rem;
  margin: 1rem 0;
}
