body {
  background-color: rgb(37, 36, 36);
  color: antiquewhite;
  font-family: sans-serif;
}
.form h2,
h1 {
  text-align: center;
}
.form h5 {
  padding: 0;
}
.red {
  border: 3px dashed tomato;
  margin-top: 1rem;
  padding: 1rem;
}
.orange {
  border: 3px dashed orange;
  margin-top: 1rem;
  padding: 1rem;
}
.purple {
  border: 3px dashed purple;
  margin-top: 1rem;
}
.blue {
  border: 3px dashed blue;
  margin-top: 1rem;
  padding: 1rem;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form input {
  background-color: antiquewhite;
  color: black;
  margin: 20px;
  padding: 8px;
}
.form textarea {
  background-color: antiquewhite;
  color: black;
  margin: 20px;
  padding: 15px;
}

/* message */
.done {
  background-color: rgb(46, 214, 68);
  margin: 5px;
  padding: 15px;
}
.error {
  background-color: tomato;

  margin: 5px;
  padding: 15px;
}
.navigation {
  background-color: rebeccapurple;
  display: flex;
  padding: 1rem;
}
.navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 0 0.4rem;
  justify-content: start;
  margin-top: 0.9rem;
}
.navigation .auth-button {
  margin-left: auto;
  padding: 0.8rem 1.5rem;
  border-radius: 5px;
  color: #fff;
  margin-top: 0;
}
.purple.form label,
.blue.form label {
  text-align: left;
  padding-left: 1rem;
}
.purple.form {
  padding: 1rem;
}
.purple.form button,
.red.form button,
.orange.form button,
.blue.form button {
  background-color: green;
  padding: 0.8rem 3rem;
  border-radius: 15px;
  border: none;
  width: 30%;
  margin: auto;
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.purple.form button:hover,
.red.form button:hover,
.orange.form button:hover,
.blue.form button:hover {
  background-color: darkgreen;
}
.article-card {
  background-color: #ccc;
  color: #343a40;
  padding: 1rem;
  margin: 1rem;
  text-align: left;
  border-radius: 15px;
}
.article-card .form input {
  border-radius: 15px;
  border: none;
  width: 98%;
  height: 25px;
  margin: 0;
}
.add-button {
  color: #fff;
  font-size: 14px;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: green;
  cursor: pointer;
  border: none;
}
.update-button {
  color: #fff;
  font-size: 14px;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: blue;
  cursor: pointer;
  border: none;
}
.delete-button {
  color: #fff;
  font-size: 14px;
  padding: 0.8rem 2rem;
  margin: 1rem;
  border-radius: 15px;
  background-color: red;
  cursor: pointer;
  border: none;
}
.not-found {
  margin-top: 10rem;
  color: red;
  font-weight: bold;
}
.authentication {
  background-color: #fff;
  color: #343a40;
  margin: auto;
  width: 40%;
  padding: 2rem;
  border-radius: 15px;
}
.authentication h2 {
  text-align: center;
}
.authentication form {
  padding: 1rem;
}

.authentication label {
  display: block;
  width: 100%;
  padding: 1rem 0;
}
.authentication input {
  display: block;
  width: 100%;
  padding: 0.6rem;
}
.authentication img {
  width: 100%;
  border-radius: 15px;
}
.authentication p {
  text-align: center;
}
.authentication a {
  cursor: pointer;
  color: blue;
}
.authentication button {
  width: 100%;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 0.8rem 3rem;
  font-weight: bold;
  background-color: #17a2b8;
  font-size: 15px;
}
.add-new-tweet {
  background-color: #161b22;
  width: 100%;
  border-radius: 15px;
  padding: 2rem;
}
.add-new-tweet textarea {
  width: 100%;
  background-color: #373e47;
  border-radius: 15px;
  padding: 1.5rem;
}
